* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.header-top {
    width: 100%;
    margin-top: 37px;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    justify-content: space-between;

    .logo {
        height: 41px;
        width: 240px;
        display: -webkit-inline-flex;
        display: -ms-inline-flex;
        display: inline-flex;

        .image-logo {
            width: 36px;
            height: 36px;
            display: inline-flex;
            flex-wrap: wrap;

            .block {
                width: 18px;
                height: 18px;
            }

            .block1 {
                background-color: #fabd17;
            }

            .block2 {
                background-color: #f0b000;
            }

            .block3 {
                background-color: #ffd561;
            }

            .block4 {
                background-color: #ffcc41;
            }
        }

        .post-logo {
            position: relative;
            color: white;
            top: -2px;
            left: -18px;
        }

        .logo-text {
            position: relative;
            display: inline-block;
            left: -25px;

            .logo-title {
                color: #434343;
                font-family: Ubuntu;
                font-size: 30px;
                font-weight: 500;
                line-height: 20px;
                padding-top: 2px;
            }

            .slogan {
                opacity: 0.65;
                color: #333333;
                font-family: Ubuntu;
                font-size: 12px;
                font-weight: 300;
                line-height: 20px;
                text-transform: uppercased;
                transform: scale(1.5, 1);
                position: relative;
                left: 40px;
            }
        }
    }

    .social-networks {
        justify-content: flex-end;
        padding-top: 20px;

        .social-item {
            padding: 0 10px;
            color: #000;
            opacity: 0.2;

            &:hover {
                color: blue;
                opacity: 0.6;
            }
        }
    }
}

.navigation {
    width: 100%;
    height: 56px;
    margin-top: 37px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #2a2d32;

    .menu-list {
        height: 100%;
        display: inline-flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .menu-item {
            font-family: "Ubuntu Condensed";
            height: 56px;
            padding: 0 24px;
            line-height: 56px;
            color: #fff;
            background: #2a2d32;
            border: {
                right: 1px solid #000;
            }

            &:hover {
                color: #f4b60d;
            }

            &:first-child {
                background-color: #248cec;
            }
        }
    }

    .search-engine {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 241px;
        height: 26px;
        margin-top: 13px;
        margin-right: 20px;
        border: 1px solid #181a1d;
        background-color: rgba(255, 255, 255, 0.05);

        .search-field {
            line-height: 26px;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            opacity: 0.15;
            color: #ffffff;
            font-family: Arial;
            margin-left: 15px;
        }

        .fa-search {
            color: #fff;
            opacity: 0.2;
            line-height: 26px;
            padding-right: 14px;
        }
    }
}

.carousel {
    width: 100%;
    margin-top: 40px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.64);

    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 100%;

        .carousel-open:checked + .carousel-item {
            position: static;
            opacity: 100;
        }

        .carousel-item {
            position: absolute;
            opacity: 0;
            -webkit-transition: opacity 0.6s ease-out;
            transition: opacity 0.6s ease-out;
        }

        .carousel-item img {
            display: block;
            height: auto;
            max-width: 100%;
        }

        .carousel-item {
            width: 100%;

            img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    #carousel-1:checked ~ .control-1,
    #carousel-2:checked ~ .control-2,
    #carousel-3:checked ~ .control-3 {
        display: block;
    }

    .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }

    .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
    }

    .carousel-rectangle {
        width: 9px;
        height: 9px;
        background: white;
        border: 6px solid white;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 35px;
    }

    .carousel-rectangle:hover {
        color: #aaaaaa;
        background: #555;
    }

    #carousel-1:checked ~ .carousel-indicators li:nth-child(1) .carousel-rectangle,
    #carousel-2:checked ~ .carousel-indicators li:nth-child(2) .carousel-rectangle,
    #carousel-3:checked ~ .carousel-indicators li:nth-child(3) .carousel-rectangle {
        background: black;
        color: #428bca;
    }
}

.advantage {
    margin-top: 72px;
    width: 100%;
    display: inline-flex;
    flex-wrap: none;
    justify-content: space-between;

    .block {
        display: inline-flex;

        .cipher {
            height: 84px;
            opacity: 0.1;
            color: #2a2b2e;
            font-family: Ubuntu;
            font-size: 84px;
            font-weight: 500;
        }

        .block-wrapper {
            width: 180px;
            height: 178px;
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 24px;

            .title-icon {
                width: 35px;
                height: 40px;
                color: #f4b60d;
            }
        }

        .block-title {
            color: #2a2b2e;
            font-family: Ubuntu;
            font-size: 20px;
            font-weight: 500;
            margin-top: 18px;
        }

        .block-description {
            color: #8a8a8a;
            font-family: Arial;
            font-size: 13px;
            font-weight: 400;
            margin-top: 27px;
        }

        .read-more-block {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 22px;

            .read-more {
                display: block;
                color: #2a2b2e;
                font-family: Ubuntu;
                font-size: 13px;
                font-weight: 500;

                &:hover {
                    color: #248cec;
                }

                &:hover + .arrow {
                    color: #989fb3;
                }
            }

            .arrow {
                display: block;
                font-size: 11px;
                color: #248cec;
                margin-top: 2px;
                margin-left: 6px;
            }
        }
    }
}

.services {
    height: 500px;
    margin-top: 87px;
    background-color: #2a2d32;

    h2 {
        padding-top: 47px;
        color: #ffffff;
        font-family: Ubuntu;
        font-size: 24px;
        font-weight: 500;
        line-height: 20px;
    }

    .services-wrapper {
        width: 100%;
        margin-top: 57px;
        display: inline-flex;

        .services-el {
            margin: 0 2%;

            .services-description {
                display: block;
                text-align: center;
                color: #ffffff;
                font-family: Ubuntu;
                font-size: 16px;
                font-weight: 500;
                margin-top: 24px;
            }

            .img-wrapper {
                position: relative;
                width: 260px;
                height: 260px;

                &:hover {
                    cursor: pointer;
                    background-color: #248cec;
                    opacity: 0.9;
                }

                &:hover > .cross .in-hover-1,
                &:hover > .cross .in-hover-2 {
                    left: 0;
                }

                &:hover + .services-description {
                    color: #f4b60d;
                }

                .cross {
                    display: block;
                    position: absolute;
                    width: 1rem;
                    height: 1rem;
                    margin: 44%;

                    .in-hover-1 {
                        width: 1.5rem;
                        height: 1.5rem;
                        position: absolute;
                        margin: 70% 10%;
                        left: -11111px;
                        border: {
                            top: 3px solid white;
                        }
                    }

                    .in-hover-2 {
                        width: 1.6rem;
                        height: 1.5rem;
                        position: absolute;
                        margin: 0 80%;
                        left: -11111px;
                        border: {
                            left: 3px solid white;
                        }
                    }
                }

                .services-img {
                    &:hover {
                        opacity: 0.1;
                    }
                }
            }
        }
    }
}

.pre-wrapper {
    background-color: #f7f7f7;

    .news-and-banner {
        margin: auto;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .latest-news {
            margin: 64px auto auto;
            width: 40%;

            .latest-news-title {
                color: #2a2d32;
                font-family: Ubuntu;
                font-size: 24px;
                font-weight: 500;
            }

            article {
                margin-top: 48px;
                position: relative;
                display: inline-flex;

                .date-wrapper {
                    position: absolute;
                    top: 12px;
                    left: -20px;

                    .date-block-mon {
                        width: 40px;
                        height: 40px;
                        background-color: #248cec;
                        color: #ffffff;
                        font-family: Ubuntu;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 40px;
                        text-align: center;
                    }

                    .date-block-date {
                        width: 40px;
                        height: 40px;
                        background-color: #f4b60d;
                        color: #ffffff;
                        font-family: Ubuntu;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 40px;
                        text-align: center;
                    }
                }
            }

            .news-text {
                margin-left: 32px;
                display: flex;
                flex-direction: column;

                .news-title {
                    color: #2a2d32;
                    font-family: Ubuntu;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                }

                .addition {
                    font-family: Arial;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #9d9d9d;

                    span {
                        color: #0187f4;
                    }
                }

                .description {
                    width: 377px;
                    color: #8a8a8a;
                    font-family: Arial;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }
}

.accordion-menu {
    margin-top: 54px;
    width: 50%;
    color: #2a2d32;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 500;

    .accordion {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 48px;
        font-size: 14px;
        border-radius: 10px;
        width: 600px;
        padding: 10px;
    }

    .accordion ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .accordion li {
        margin: 0;
        padding: 0;

        .label-block {
            display: inline-flex;
            width: 100%;

            .before-block {
                position: relative;
                width: 40px;
                height: 40px;
                background: #fff;
                border: 1px solid #e8e8e8;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;

                .cross {
                    display: block;
                    position: absolute;
                    width: 1rem;
                    height: 1rem;
                    margin: 16%;

                    .in-hover-1 {
                        width: 1.55rem;
                        position: absolute;
                        margin: 70% 10%;
                        left: 0;
                        border: {
                            top: 2px solid black;
                        }
                    }

                    .in-hover-2 {
                        height: 1.55rem;
                        position: absolute;
                        margin: 0 80%;
                        left: 0;
                        border: {
                            left: 2px solid black;
                        }
                    }
                }

                &:hover {
                    background-color: #f4b60d;
                    cursor: pointer;
                }

                &:hover + label {
                    background-color: #f4b60d;
                    border: 1px solid #fff;
                    color: #FFF;
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
                    -webkit-transition: all 0.2s ease-out;
                    -moz-transition: all 0.2s ease-out;
                }
            }

            label {
                width: 80%;
                display: block;
                font-size: 16px;
                line-height: 16px;
                background: #fff;
                border: 1px solid #e8e8e8;
                color: #542437;
                text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
                font-weight: 700;
                cursor: pointer;
                text-transform: uppercase;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                padding: 10px;
                color: #2a2d32;
                font-family: Ubuntu;
                font-weight: 500;
                text-transform: uppercase;

                &:hover + .before-block {
                    background-color: #f4b60d;
                    cursor: pointer;
                }
            }
        }
    }

    .accordion [type=checkbox],
    .accordion [type=radio] {
        display: none;
    }

    .accordion .label-block label:hover,
    .accordion [type=checkbox]:checked ~ .label-block label,
    .accordion [type=radio]:checked ~ .label-block label {
        background-color: #f4b60d !important;
        border: 1px solid #fff;
        color: #FFF;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    .accordion [type=checkbox]:checked ~ .label-block .before-block .cross .in-hover-2,
    .accordion [type=radio]:checked ~ .label-block .before-block .cross .in-hover-2 {
        left: -11111px;
    }

    .accordion [type=checkbox]:checked ~ .label-block .before-block .cross .in-hover-1,
    .accordion [type=radio]:checked ~ .label-block .before-block .cross .in-hover-1 {
        border-top: 2px solid #fff;
    }

    .accordion [type=checkbox]:checked ~ .label-block .before-block,
    .accordion [type=radio]:checked ~ .label-block .before-block {
        background-color: #f4b60d !important;
        cursor: pointer;
    }

    .accordion .content {
        padding: 0 10px;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
    }

    .accordion p {
        color: #333;
        margin: 0 0 10px;
    }

    .accordion h3 {
        color: #542437;
        padding: 0;
        margin: 10px 0;
    }
    /* Vertical */
    .vertical ul li {
        overflow: hidden;
        margin: 0 0 1px;
    }

    .vertical .content {
        height: 0;
        border-top: 0;
    }

    .vertical [type=checkbox]:checked ~ .content,
    .vertical [type=radio]:checked ~ .content {
        height: 100px;
        margin-top: 30px;
        margin-bottom: 41px;
    }
}

.clients-log {
    display: inline-flex;
    justify-content: center;
    margin: 86px 10% 91px;

    .sprite {
        background-image: url("../img/logos.png");
        background-repeat: no-repeat;
        display: block;
    }

    .sprite-layer-22 {
        width: 184px;
        height: 64px;
        background-position: 43px -5px;
    }

    .sprite-layer-23 {
        width: 143px;
        height: 62px;
        background-position: -199px -5px;
    }

    .sprite-layer-24 {
        width: 160px;
        height: 62px;
        background-position: -412px -5px;
    }

    .sprite-layer-25 {
        width: 143px;
        height: 62px;
        background-position: -629px -5px;
    }

    .sprite-layer-26 {
        width: 143px;
        height: 62px;
        background-position: -829px -5px;
    }

    .sprite-layer-27 {
        width: 143px;
        height: 62px;
        background-position: -1008px -5px;
    }
}

footer {
    width: 100%;
    background-color: #2a2d32;

    .footer-menu {
        margin-top: 63px;
        margin-left: 15%;
        margin-right: 15%;
        display: inline-flex;
        flex-direction: row;

        .category {
            width: 14rem;
            display: flex;
            flex-direction: column;

            .title {
                color: #ffffff;
                font-family: Ubuntu;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }

            .item {
                width: 90%;
                opacity: 0.3;
                color: #ffffff;
                font-family: Arial;
                font-size: 13px;
                font-weight: 400;
                line-height: 36px;
                border-bottom: 1px solid #fff;

                &:last-child {
                    border: none;
                }

                &:hover {
                    opacity: 0.9;
                    color: #248cec;
                }
            }
        }
    }

    .contacts {
        width: 100%;
        height: 40px;
        margin-top: 81px;
        font-family: Arial;
        opacity: 0.2;
        color: #ffffff;
        display: flex;

        .con {
            margin-left: 6px;
        }

        span {
            margin-left: 100px;
        }

        .year {
            margin-left: 200px;
        }
    }
}
